@page "/counter"
@using ULox

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>
<p role="status">Current text: @currentText</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;
    private string currentText = "";

    private void IncrementCount()
    {
        currentCount++;

        var context = new Context(new LocalFileScriptLocator(), new Program(), new Vm());
        var engine = new Engine(context);
        engine.Context.AddLibrary(new PrintLibrary(x => currentText = x));

        engine.RunScript(@"print(""Hello World"");");
    }
}
